.block {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sheet__header {
    padding-top: 12px;
    padding-bottom: 12px;
}

.sheet__title {
    font-size: 16px;
    font-weight: 700;
    color: #bcbdd9;
    text-transform: uppercase;
    text-align: center;
}

.sheet__content {
    padding: 24px;
}

.sheet__items {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
    margin-left: -8px;
    margin-right: -8px;
}

.sheet__item {
    flex: 1;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-color: transparent;
    border-radius: 12px;
    margin-left: 8px;
    margin-right: 8px;
    padding-top: 14px;
    padding-bottom: 14px;
}

ion-modal {
    --height: auto;
}