.survey__header__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
}

.back__btn {
  position: relative;
  bottom: 40px;
  margin-left: 20px;
  z-index: 3;
}

button.back__btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #AAA8CE;
  color: #ffffff;
  font-size: 1.5rem;
}

.edit__btn,
.submit__btn {
  position: relative;
  top: 0;
  z-index: 3;
  margin: 10px;
}

button.edit__btn,
button.submit__btn {
  width: 100%;
  max-width: 1200px;
  padding: 15px 20px;
  border-radius: 50px;
  background-color: var(--ion-color-dark);
  color: var(--ion-color-light);
}

button.edit__btn:disabled,
button.submit__btn:disabled {
  background-color: var(--ion-color-dark-shade);
  color: var(--ion-color-dark-tint);
}

.survey__header__upper {
  max-width: 600px;
  width: 100%;
  top: 140px;
  margin-left: 20px;
  text-wrap: wrap;
  z-index: 4;
}

h1.survey__header__title {
  font-size: 4.25rem;
  font-weight: var(--font-bold);
  text-transform: capitalize;
  line-height: 1.25em;
  color: var(--ion-color-dark);
}

.survey__header__title span {
  font-size: 5rem;
  color: #56519E;
}

p.survey__header__description {
  font-size: 1.15rem;
  font-weight: 600;
  color: var(--ion-color-dark-tint);
  margin-top: var(--mb-0-5);
}

svg.survey__header__svg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: scale(-1, -1) rotate(180deg);
  z-index: 1;
}

.survey {
  position: relative;
  height: 100vh;
}

.survey__container {
  position: absolute;
  padding: 50px;
  top: -100px;
  z-index: 2;
}

.survey__content {
  display: block;
  max-width: 1200px;
  width: 100%;
}

.survey__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

@media (max-width: 768px) {
  .survey__header__content, .survey__container {
    padding: 20px;
  }

  h1.survey__header__title {
    font-size: 2.5rem;
  }

  .survey__header__title span {
    font-size: 3rem;
  }

  p.survey__header__description {
    font-size: 1rem;
  }
}