.review__header__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
}

.back__btn {
  position: relative;
  bottom: 40px;
  margin-left: 20px;
  z-index: 3;
}

button.back__btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #AAA8CE;
  color: #ffffff;
  font-size: 1.5rem;
}

.edit__btn,
.submit__btn {
  position: relative;
  top: 0;
  z-index: 3;
  margin: 10px;
}

button.edit__btn,
button.submit__btn {
  width: 100%;
  max-width: 1200px;
  padding: 15px 20px;
  border-radius: 50px;
  background-color: var(--ion-color-dark);
  color: var(--ion-color-light);
}

button.edit__btn:disabled,
button.submit__btn:disabled {
  background-color: var(--ion-color-dark-shade);
  color: var(--ion-color-dark-tint);
}

.review__header__upper {
  max-width: 600px;
  width: 100%;
  top: 140px;
  margin-left: 20px;
  text-wrap: wrap;
  z-index: 4;
}

h1.review__header__title {
  font-size: 4.25rem;
  font-weight: var(--font-bold);
  text-transform: capitalize;
  line-height: 1.25em;
  color: var(--ion-color-dark);
}

.review__header__title span {
  font-size: 5rem;
  color: #56519E;
}

p.review__header__description {
  font-size: 1.15rem;
  font-weight: 600;
  color: var(--ion-color-dark-tint);
  margin-top: var(--mb-0-5);
}

svg.review__header__svg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: scale(-1, -1) rotate(180deg);
  z-index: 1;
}

.review {
  position: relative;
  width: 100%;
  height: 100vh;
}

.review__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  overflow: hidden;
}

.review__content {

}

.review__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

@media (max-width: 768px) {
  .review__header__content, .review__container {
    padding: 20px;
  }

  h1.review__header__title {
    font-size: 2.5rem;
  }

  .review__header__title span {
    font-size: 3rem;
  }

  p.review__header__description {
    font-size: 1rem;
  }
}

.review__card {
  display: flex;
  flex-wrap: wrap;
  border-radius: 1.5rem;
  background-color: var(--ion-color-light);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s;
  max-width: clamp(320px, 70vw, 740px);
  min-width: 20rem;
  min-height: 17.5rem;
}

.review__card:hover {
  box-shadow: var(--ion-color-dark-rgba) 0px 6px 16px;
}

.review__card__image {
  flex: 1 1 15rem;
}

.review__card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review__card__content {
  flex: 3 1 22rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 1rem;
}

.review__card__content > h2 {
  font-size: clamp(1.3rem, 2.5rem, 1.8rem);
  font-weight: 700;
  margin-bottom: clamp(0.35rem, 2vw, 0.55rem);
}