@import url('../theme/styles.css');

.survey__header__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
}

.back__btn {
  position: relative;
  bottom: 40px;
  margin-left: 20px;
  z-index: 3;
}

button.back__btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #AAA8CE;
  color: #ffffff;
  font-size: 1.5rem;
}

.survey__header__upper {
  max-width: 600px;
  width: 100%;
  top: 140px;
  margin-left: 20px;
  text-wrap: wrap;
  z-index: 4;
}

h1.survey__header__title {
  font-size: 4.25rem;
  font-weight: var(--font-bold);
  text-transform: capitalize;
  line-height: 1.25em;
  color: #04030D;
}

.survey__header__title span {
  font-size: 5rem;
  color: #56519E;
}

p.survey__header__description {
  font-size: 1.15rem;
  font-weight: 600;
  color: #616161;
  margin-top: var(--mb-0-5);
}

.survey {
  max-width: 800px;
  width: 100%;
  margin: auto;
  position: relative;
  z-index: 4;
}

.survey__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.survey__content {
  display: block;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .survey__header__content {
    padding: 20px;
  }

  .survey__header__upper {
    max-width: 340px;
    top: 100px;
  }

  h1.survey__header__title {
    font-size: 3rem;
  }

  .survey__header__title span {
    font-size: 3.5rem;
  }

  p.survey__header__description {
    font-size: 1rem;
  }

  button.back__btn {
    width: 40px;
    height: 40px;
    font-size: 1.25rem;
  }
}