@import url("../theme/variables.css");

.accordion__container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

details {
    font-size: 1rem;
    margin: 0 auto;
    width: 100%;
    background: var(--ion-color-light);
    border-radius: 0.5rem;
    position: relative;
    max-width: 1200px;
    border: 1px solid var(--ion-color-light-tint);
    transition: all 0.3s ease-in-out;
}

details:hover {
    border: 1px solid var(--ion-color-light);
}

summary {
    user-select: none;
    cursor: pointer;
    font-weight: 600;
    display: flex;
    list-style: none;
    padding: 1rem;
    align-items: center;
}

summary:hover .accordion__title {
    opacity: 1;
}

summary::-webkit-details-marker {
    display: none;
}

summary:focus {
    outline: none;
}

summary:hover .accordion__expand {
    opacity: 1;
}

.accordion__title {
    color: var(--ion-color-dark);
    width: 90%;
    opacity: 0.65;
    transition: all 250ms ease-in-out;
}

.accordion__content {
    color: var(--ion-color-dark);
    padding: 0.2rem 1rem 1rem 1rem;
}

.accordion__expand {
    opacity: 0.65;
}

.accordion__expand {
    pointer-events: none;
    position: absolute;
    right: 1rem;
    transition: all 150ms ease-out;
}

.accordion__gallery__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
}

.accordion__gallery__content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.accordion__card {
    position: relative;
    width: 100%;
    height: 130px;
    background-color: var(--ion-color-light);
    border: 1px solid var(--ion-color-light-tint);
    border-radius: 10px;
    overflow: hidden;
}

.accordion__card:hover {
    border: 1px solid var(--ion-color-light);
}

.accordion__card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.accordion__card.expanded {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 650px;
    width: 90%;
    max-height: 500px;
    height: 90%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 100;
    border-radius: 10px;
    cursor: zoom-out;
}

.accordion__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99;
    display: none;
}

.accordion__overlay.active {
    display: block;
}

.accordion__tooltip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(34, 36, 40, 0.6);
    color: var(--ion-color-dark);
    text-align: center;
    text-transform: capitalize;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    visibility: hidden;
    z-index: 100;
    cursor: pointer;
}

.accordion__tooltip.show {
    opacity: 1;
    visibility: visible;
}

.accordion__nav {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    background: var(--ion-color-light);
    color: var(--ion-color-dark);
    border: none;
    cursor: pointer;
    z-index: 101;
    font-size: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accordion__nav ion-icon {
    font-size: 3rem;
}

.accordion__nav:active {
    transform: translateY(-50%) scale(0.95);
}

.accordion__nav.left {
    left: 1rem;
}

.accordion__nav.right {
    right: 1rem;
}