@import url('../theme/variables.css');

.camera__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.camera__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
}

.camera__overlay video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.camera__top-bar, .camera__bottom-bar {
    position: absolute;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

.camera__top-bar {
    top: 0;
    height: 10%;
}

.camera__bottom-bar {
    bottom: 0;
    height: 20%;
}

.camera__close, .camera__flip, .camera__flash {
    position: absolute;
    width: 50px !important;
    height: 50px !important;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    z-index: 1000;
}

.camera__close {
    top: 20px;
    left: 20px;
}

.camera__flip {
    bottom: 60px;
    right: 30px;
}

.camera__flash {
    top: 20px;
    right: 20px;
}

.capture__button, 
.retake__button, 
.save__button {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.capture__button {
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    border: 5px solid #ffffff;
}

.capture__button__inner, 
.capture__button__inner:active {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #ffffff;
}

.capture__button__inner {
    top: 5px;
    left: 5px;
}

.capture__button__inner:active {
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
}

.image__review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.image__review img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.retake__button, .save__button {
    bottom: 60px;
    width: 70px;
    height: 70px;
    background-color: var(--ion-color-danger);
    border-radius: 50px;
    z-index: 1000;
}

.retake__button {
    left: 30px;
    background-color: var(--ion-color-danger);
}

.save__button {
    right: 30px;
    background-color: var(--ion-color-success);
}

.retake__button__icon, .save__button__icon, 
.retake__button__icon:active, .save__button__icon:active {
    color: #ffffff;
    font-size: 2.5rem !important;
}

.retake__button__icon:active, 
.save__button__icon:active {
    font-size: 2.3rem !important;
}

.icon {
    color: #ffffff;
    width: 40px;
    height: 40px;
}

