@import url('../theme/variables.css');

.camera__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.camera__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    opacity: 0.5;
}

.camera__overlay video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.camera__close {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px !important;
    height: 50px !important;
    justify-content: center;
    align-items: center;
    color: var(--ion-color-light);
    z-index: 1000;
}

.capture__button {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 5px solid var(--ion-color-light);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.capture__button__inner {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--ion-color-light);
}

.capture__button__inner:active {
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
}

.camera__close {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px !important;
    height: 50px !important;
    justify-content: center;
    align-items: center;
    color: var(--ion-color-light);
    z-index: 1000;
}

.capture__button {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 5px solid var(--ion-color-light);
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.capture__button__inner {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--ion-color-light);
}

.capture__button__inner:active {
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
}

.camera__flip {
    position: absolute;
    bottom: 60px;
    right: 30px;
    width: 50px !important;
    height: 50px !important;
    justify-content: center;
    align-items: center;
    color: var(--ion-color-light);
    z-index: 1000;
}

.image__review {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.image__review img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.review__buttons {
    display: flex;
    justify-content: center;
}

.retake__button {
    position: absolute;
    bottom: 60px;
    left: 30px;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: var(--ion-color-danger);
    border-radius: 50px;
    z-index: 1000;
}

.retake__button__icon {
    color: var(--ion-color-light);
    font-size: 2.5rem !important;
}

.retake__button__icon:active {
    font-size: 2.3rem !important;
}

.save__button {
    position: absolute;
    bottom: 60px;
    right: 30px;
    width: 70px;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: var(--ion-color-success);
    border-radius: 50px;
    z-index: 1000;
}

.save__button__icon {
    color: var(--ion-color-light);
    font-size: 2.5rem !important;
}

.save__button__icon:active {
    font-size: 2.3rem !important;
}

.icon {
    color: var(--ion-color-light);
    width: 40px;
    height: 40px;
}