@import url('../theme/variables.css');

.survey__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
}

.survey__card {
    background: var(--ion-color-light);
    border-radius: 1.5rem;
    box-shadow: var(--ion-color-dark-rgba) 0px 2px 6px;
    display: flex;
    width: 22rem;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.survey__card:hover {
    box-shadow: var(--ion-color-dark-rgba) 0px 6px 16px;
}

.survey__card__content {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: var(--ion-color-dark);
}

.survey__card__category {
    margin-top: 0.5rem;
}

.survey__card__bottom {
    margin-top: auto;
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.survey__card__props {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.survey__card__prop {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* after each p in survey card prop add | unless last child */
.survey__card__prop:not(:last-child) {
    margin-right: 0.5rem;
}

.survey__card__prop p {
    font-size: 0.875rem;
    color: var(--ion-color-dark-tint);
}

.survey__card__prop p::after {
    content: '|';
    margin-left: 0.5rem;
}

.survey__card__prop p:last-child::after {
    content: '';
}