@import url('../theme/variables.css');

.question__container {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
}

.text__input {
    border: 2px solid var(--ion-color-medium);
    border-radius: 50px;
    padding: 13px 20px;
    width: 100%;
    margin-bottom: 20px;
    font-size: 16px;
    transition: border 0.3s ease;
}

.text__input:focus {
    border: 2px solid var(--ion-color-dark);
    outline: none;
}

.text__input__label h2 {
    font-size: 22px;
    font-weight: 600;
    color: var(--ion-color-dark);
}

.question__header h2 {
    font-size: 22px;
    font-weight: 600;
    color: var(--ion-color-dark);
}

.text__input__label {
    transition: all 0.3s ease;
    pointer-events: none;
}

.question__header {
    margin-bottom: 10px;
}

.question__header p,
.question__body p {
    font-size: 16px;
    color: var(--ion-color-medium);
}

.file__upload,
.missing__image {
    border: 2px dashed var(--ion-color-medium);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file__upload:hover,
.missing__image:hover {
    background-color: var(--ion-color-light-tint);
}

.missing__image {
    border-color: var(--ion-color-danger);
}

.image__preview {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
}

.add__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: transparent;
    border: none;
}

@media (max-width: 768px) {

    .text__input__label,
    .question__header h2,
    .text__input,
    .question__header p,
    .question__body p {
        font-size: 16px;
    }

    .question__container {
        padding: 10px;
    }

    .file__upload {
        padding: 10px;
    }
}